<!DOCTYPE html>
<html>
  <body>
    <h2>Hello <%= name %>,</h2>
    <p>Your order <strong>#<%= orderId %></strong> status has been updated to:</p>
    <h3><%= status %></h3>
    <p>Thank you for shopping with Shopie!</p>
  </body>
</html>
